/*Main all pages*/
.main{
    grid-area: main;
}
/*Main index*/
.main{
    height: 100%;
    @include grid(1,1fr,3,auto);
    & #mainCarrusell{
        img{
            @include tamaño(100vw,auto);  
        }
    }
    
    & .mainCategorias{
        z-index: 1;
        @include grid(1,1fr,2,auto);

        & .mainCategorias__titulo{
            @include flex-box(row,wrap,center,center,0rem);
            margin-top: 1rem;
            background-color:$orange;
            color: $white;
            font-family:$gills-sans;
        }

        & .mainCategorias__imagenes{
            background-color: $green-sure;
            text-align: center;
            font-size: 1.5rem;
            font-family:$dynapuff;
            color:$white;
            @include flex-box(row,nowrap,center,center,1rem);
            img{
                @include tamaño(60%,auto);
            }
        }
    }

    & .newsletter{
        background-color:$orange;
        @include grid(1,1fr,2,1fr);
        align-items: center;
        justify-items: center;

        & .newsletter__titulo{
            background-color:$orange;
            color: $white;
            font-family:$gills-sans;
        }

        & .newsletter__formulario{
            form{
                display: flex;
                flex-direction: row;
                margin-bottom: 1rem;
                input{
                    @include tamaño(25rem,2.5rem);
                    padding-left: 0.5rem;
                    border-radius: 5px;
                }

                button{
                    @include tamaño(6rem,2.5rem);
                    font-size: 0.8rem;
                    border-radius: 5px;
                    background-color:$cyan;
                    margin-left: 1rem;
                }
            }

         
        }
    }
}
/*Fin main index*/

/*Main como comprar*/
#mainComoComprar{
    display: grid;
    @include grid(1,1fr,3,auto);
    .comprarTitulo{
        @include flex-box(row,nowrap,center,center,0rem);
        background-color:$orange;
        margin-top: 2rem;
            h2,i{
                color: $white;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 2rem;
            }
    }
    .comprarPasos{
        margin: 2rem 2rem 0 2rem ;
        @include flex-box(row,wrap,center,center,2rem);
       
        p{
            font-size: 1.1rem;
            line-height: 2rem;
            font-family:$times-new-roman;
            text-align: justify;
        }
        >div{
            @include tamaño(30%,auto);
        }

        img{
            @include tamaño(8rem,auto)
        }
    }
    #tablaIntereses{
        border-color:$pink-dark;
        thead tr:first-child{
            background-color:$pink-dark;
            color: $white;
            border-color: $white;
        }
    }  
}
/*Fin main como comprar-------------------*/

