/*Main all pages*/
.main{
    grid-area: main;
}
/*Main index*/
.mainIndex{
    height: 100%;
    @include grid(1,1fr,3,auto);
    & #mainCarrusell{
        img{
            @include tamaño(100vw,auto);  
        }
    }
    
    & .mainCategorias{
        z-index: 1;
        @include grid(1,1fr,2,auto);

        & .mainCategorias__titulo{
            @include flex-box(row,wrap,center,center,0rem);
            margin-top: 1rem;
            background-color:$orange;
            color: $white;
            font-family:$gills-sans;
        }

        & .mainCategorias__imagenes{
            background-color: $green-sure;
            text-align: center;
            font-size: 1.5rem;
            font-family:$dynapuff;
            color:$white;
            @include flex-box(row,nowrap,center,center,1rem);
            img{
                @include tamaño(60%,auto);
            }
        }
    }

    & .newsletter{
        background-color:$orange;
        @include grid(1,1fr,2,1fr);
        align-items: center;
        justify-items: center;

        & .newsletter__titulo{
            background-color:$orange;
            color: $white;
            font-family:$gills-sans;
        }

        & .newsletter__formulario{
            form{
                display: flex;
                flex-direction: row;
                margin-bottom: 1rem;
                input{
                    @include tamaño(25rem,2.5rem);
                    padding-left: 0.5rem;
                    @extend .bordes;
                }

                button{
                    @include tamaño(6rem,2.5rem);
                    font-size: 0.8rem;
                    border-radius: 5px;
                    background-color:$cyan;
                    margin-left: 1rem;
                }
            }

         
        }
    }
}
/*Fin main index*/

/*Main como comprar*/
#mainComoComprar{
    display: grid;
    @include grid(1,1fr,3,auto);
    .comprarTitulo{
        @include flex-box(row,nowrap,center,center,0rem);
        background-color:$orange;
        margin-top: 2rem;
            h2,i{
                color: $white;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 2rem;
            }
    }
    .comprarPasos{
        margin: 2rem 2rem 0 2rem ;
        @include flex-box(row,wrap,center,center,2rem);
       
        p{
            font-size: 1.1rem;
            line-height: 2rem;
            font-family:$times-new-roman;
            text-align: justify;
        }
        >div{
            @include tamaño(50%,auto);
        }

        img{
            @include tamaño(8rem,auto)
        }
    }
    #tablaIntereses{
        border-color:$pink-dark;
        thead tr:first-child{
            background-color:$pink-dark;
            color: $white;
            border-color: $white;
        }
    }  
}
/*Fin main como comprar-------------------*/


/*Main contacto*/
#mainContacto{
    background: transparent;
    background-image: url('../img/contacto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .contacto{
        @include grid(1,1fr,3,auto);
        justify-items: center;
        gap: 1rem;
        & .contacto__titulo{
            background-color: transparent;
            display:flex;
            margin-top: 2rem;
            & h2{
                color:$dark;
                font-size: 3rem;
                font-family:$trebuchet;
                font-weight: bold;
            }
        }

        & .contacto__formulario{
            form{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 2rem;
                justify-content: center;
                margin-bottom: 2rem;
                width: 50rem;

                input,textarea,button{
                    padding-left: 0.5rem;
                    border-radius: 0.5rem;
                    border: 3px solid $pink-dark; 
                    height: 2.5rem; 
                    background-color: transparent;
                    color:$white;
                }

                textarea{
                    height:8rem ;
                }

                button{
                    width: 6rem;
                    margin-left: auto;
                    background-color: $pink-dark;
                    color:$white;
                }

                button:hover{
                    background-color: transparent;
                    color:$white;
                }
            }
        }
    }

    #accordionExample .accordion-item .accordion-button{
        background-color:$pink;
        font-weight: bold;
    }
}
/*Fin main contacto---------------------------*/

/*Main legales ------------------------------------*/
#mainLegales{
    @include flex-box(column,wrap,flex-start,flex-start,0rem);
    .legalesTitulo{
        h2{
            color:$pink-dark;
            font-family:$trebuchet;
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }

    .legalesCondiciones{
        padding: 0 2rem 0 2rem;
        border: 2rem solid $orange;
        box-sizing: border-box;
        h3{
            color: $blue;
            font-family:$verdana;
            font-size: 1.2rem;
        }
        p{
            text-align: justify;
            line-height: 3rem;
            font-size: 1rem;
            font-family: $verdana;
        }
    }

    #iconoDescarga{
        color: $white;
    }
}
/*Fin main legales---------------------------------*/

/*Main productos*/
#mainProductos{
    display: grid;
    grid-template-areas: "buscador buscador"
                         "filtros productos";
    grid-template-columns: 300px auto;
    gap: 1rem;
    background-color: $gray;
    .buscador{
        margin-top: 2rem;
       grid-area: buscador;
        form{
            display: flex;
            gap: 1rem;
            input{
                height: 3rem;
            }
        }
    }
    
    .filtros{
       grid-area: filtros;
       padding: 2rem;
       background-color: #E9E600;
       border-radius: 0.5rem;
       display: flex;
       flex-direction: column;
       
       .categorias , .precios{
            h4{
                color:$dark;
                font-family: $mochy;
                font-size: 1.2rem;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding-top: 1rem;
            }
       }
    }

    .productos{
        background-color: #E9E600;
        grid-area: productos;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        justify-items: center;
        border-radius: 1rem;
        .card{
            display: flex;
            flex-direction: column-reverse;
            margin: 1rem;
            .select{
                width: 3rem;
                height: 2.1rem;
            }
        
        }  
    }
}

/*Fin main productos------------------------------*/

#mainLogin{
    @include flex-box(column,nowrap,center,center,0rem);
    background-image: url('../img/login.webp');
    background-repeat: no-repeat;
    background-size: cover;
   
    .login{
        margin-top: 2rem;
        margin-bottom: 5rem;
        background-color:#E9E600;
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 1rem;
        .boton{
            text-align: center;
        }
    }
}

#mainRegistro{
    @include flex-box(column,nowrap,center,center,0rem);
    background-image: url('../img/fondo-negro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    .registro{
        margin-top: 2rem;
        margin-bottom: 5rem;
        background-color:transparent;
        padding: 2rem 2rem 2rem 2rem;
        border-radius: 1rem;
        .boton{
            text-align: center;
        }
    }

}