$texto:(
    blanco:$white,
    font10:1.1rem,
    font15:1.5rem,
    font20:2rem,
);

/*Footer------------------*/
.footer{
    grid-area: footer;
    @include grid(1,1fr,2,auto);

   & .informacion{
        @include grid(3,1fr,1,auto);
        justify-items: center;
        align-items: flex-start;

        .tituloInformacion{
            font-size:map-get($texto,font20);
            color: $dark-gray-two;
            @each $font in $mochy,$murecho,$raleway,$rubik,$secular {
                font-family:$font;
            }   
        }

       & .informacion__redes{
            opacity: 1;
            i{
                font-size:map-get($texto,font15);
                padding-left: 3rem; 
            }
            /*Map*/
            $redes:(
                facebook:$blue,
                instagram:$pink-dark,
                tiktok:$dark,
            );
            @each $nombre, $color in $redes{
                ##{$nombre}{
                    color: $color;
                }

                ##{$nombre}:hover{
                    color: $dark-gray;
                    font-size: map-get($texto, font20);
                }

            }
        }

        & ul li,a{
            list-style: none;
            text-decoration: none;
            font-size:map-get($texto,font10);
            padding-top: 1.5rem;
            color:$dark-gray;
        }
    
       & a:hover{
            color:$cyan;
            font-weight: bold;
        }
    
    }

    & .desarrollador{
        background-color:$dark-gray-two;
        font-size:map-get($texto,font10);
        color:$white;
        @include grid(1,1fr,1,auto);

        & .desarrolladorInfo{
            @include flex-box(row,wrap,center,flex-start,1rem);
            align-content: center;
            img{
                @include tamaño(4rem,auto);
            }
        }


    }
} 
/*Termina footer*/