/*Barra de navegacion*/
.header{
    grid-area: header;
    background-color:$cyan;
    @include grid(1,1fr,2,auto);
    align-items: flex-start;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    z-index: 3;  
    @include tamaño(100%,auto);
    /*Barra superior -- barra de busqueda*/
    .barraNavegacion{
        @include flex-box(row,wrap,flex-start,flex-start,1rem);
        @keyframes imagen {
            0%{
                opacity: 0.0;
                transform: translate(-100px);
            } 
        }

        & .barraNavegacion__titulo{
            @include flex-box(row,nowrap,flex-start,center,0rem);
            img{
                @include tamaño (7rem,auto);
                animation: imagen 1s linear 0s;
            }

            @keyframes titulo {
                0%{
                    text-shadow:none;
                }
                
                50%{
                    text-shadow:5px 5px $orange ,2px 2px $gray;
                }
                
                100%{
                    text-shadow:5px 5px $pink , 2px 2px $gray;
                }
            }

            div{
                @include flex-box(column-reverse,wrap,center,center,0rem);
                h1{
                    font-size: 0.8rem;
                    color: $white;
                }
                
                a{
                    text-decoration: none;
                    h2{
                        font-family: $lobster;
                        color:$white;
                        font-size: 3rem;
                        margin-top: 1.1rem;
                        animation: titulo 3s linear 0s infinite;
                    }  
                }
            }
            

        }

        & .barraNavegacion__buscador{
            margin-top: 2rem;
            form input{
                text-align: start;
                @extend .bordes;
                font-size: 0.8rem;
                padding-left: 2.5rem;
                @include tamaño(31rem,3rem);
            }
            display: none;
        }
    }

    #hamburgerList{
        color: $white;
        font-size: 4rem;
        display: none;
    }

    .icono {
        padding-left: 30px!important;
    }
    
    .icono-input {
        position: absolute;
        padding: 15px;
        pointer-events: none;
        color: $dark-gray;
    }
    
    /*Menu de navegacion*/
    .menu{
        nav{
            ul{
                @include flex-box(row,wrap,space-evenly,center,0rem); 

                li,a{
                    list-style: none;
                    text-decoration: none;
                    color: $white;
                    font-size: 1rem;
                    font-family:$dynapuff;

                    a:hover{
                        color: $pink;
                    }
                }
            }
        }
    }
}
/*Termina Barra de navegacion*/

