/*Barra de navegacion*/
.header{
    grid-area: header;
    background-color:$cyan;
    @include grid(1,1fr,2,auto);
    align-items: flex-start;
    justify-content: space-around;
    z-index: 2;  

    /*Barra superior -- barra de busqueda*/
    .barraNavegacion{
        @include flex-box(row,wrap,flex-start,flex-start,1rem);

        @keyframes imagen {
            0%{
                opacity: 0.0;
                transform: translate(-100px);
            }
            
        }

        & .barraNavegacion__titulo{
            @include flex-box(row,nowrap,flex-start,center,0rem);
            img{
                width: 7rem ;
                height: auto;
                animation: imagen 1s linear 0s;
            }
        }

    
    }

    #hamburgerList{
        color: $white;
        font-size: 4rem;
        display: none;
    }

   
    

}


@keyframes titulo {
    0%{
        text-shadow: none;
    }
    
    50%{
        text-shadow: 5px 5px #e9890b , 2px 2px #8e9494 ;
    }
    
    100%{
        text-shadow: 5px 5px #FA48D5 , 2px 2px #8e9494 ;
    }
}

.header .barraNavegacion .barraNavegacion__titulo h1{
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
    font-size: 3rem;
    margin-top: 1.1rem;
    animation: titulo 3s linear 0s infinite;
}

.header .barraNavegacion .barraNavegacion__buscador{
    margin-top: 3rem;
}

.icono {
    padding-left: 30px!important;
}

.icono-input {
    position: absolute;
    padding: 15px;
    pointer-events: none;
    color: #464747;
}

.header .barraNavegacion .barraNavegacion__buscador form input{
    text-align: start;
    border-radius: 10px;
    border-color: #FA48D5;
    box-shadow: 5px 5px #8e9494;
    font-size: 0.8rem;
    padding-left: 2.5rem;
    height: 3rem;
    width: 31rem;
}


/*Menu de navegacion*/
.header .menu nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.header .menu nav ul li, .header .menu a{
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'DynaPuff', cursive;
}

.header .menu nav ul li a:hover{
    color: #FA48D5;
}
