/*Media Queries-----------------------------------*/
@media(max-width: 480px){
    /*Barra de navegacion*/
    .header{
        position: static;
        z-index: 0;
        & .barraNavegacion{
            flex-direction: column;
              /*Imagen taza*/
            .barraNavegacion__titulo{
                img{
                  display: none;  
                } 
            }

              /*div buscador*/
            .barraNavegacion__buscador{
                margin: 1rem;
                /*Ancho input buscador*/
                form{
                    input{
                        width: 18rem;
                    }
                }
            }

        }
        /*menu hamburgesa*/
        & #hamburgerList{
            display: contents;
            
        } 
    
        & .menu{
            nav{
                ul{
                    @include flex-box(column,wrap,center,flex-start,1rem);
                    margin: 1rem 0 0 1rem ;
                    li,a{
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    
    .footer{
        /*Footer informacion*/
        & .informacion{
            grid-template-columns:1fr; 
            justify-items: start;
            & .informacion__contacto{
                width: 17.5rem;
            }
            ul{
                li,a{
                font-size: 0.7rem;  
                }
            }

            & .informacion__redes{
                ul{
                    display: flex;
                }
                
            }
        }

        & .desarrollador{
            font-size: 0.9rem;
        }
    }
    
    .mainIndex{
        & .mainCategorias{
            .mainCategorias__imagenes{
                flex-direction: column; 
            }
        }

        & .newsletter{
            .newsletter__formulario{
                form{
                    input{
                        width: 11rem;
                        font-size: 0.6rem;
                    }
                    button{
                        width: 6rem; 
                    }
                }
            }
        }
    }

    #mainContacto{
        .contacto{
            & .contacto__formulario{
                form{
                    width: 18rem;
                    flex-wrap: wrap;
                }
            }
        }
    }
 
    #mainProductos{
        .boxCompra{
            grid-template-columns: 1fr;
            .filtros{
               align-items: center; 
            }

            .productos{
               grid-template-columns: 1fr; 
            }
        }
    }
}

@media(min-width: 481px) and (max-width:767px)  {
     /*Barra de navegacion*/
     .header{
        position: static;
        z-index: 0;
        & .barraNavegacion{
            flex-direction: row;
            align-items: center;
              /*Imagen taza*/
              .barraNavegacion__titulo{
                    img{
                        display: contents;
                    } 
                }

              /*div buscador*/
            .barraNavegacion__buscador{
                margin: 1rem;
                /*Ancho input buscador*/
                form{
                    input{
                        width: 15rem;
                    }
                }
            }

        }
        /*menu hamburgesa*/
        & #hamburgerList{
            display: contents;
            
        } 
    
        & .menu{
            nav{
                ul{
                    @include flex-box(column,wrap,center,flex-start,1rem);
                    margin: 1rem 0 0 1rem ;
                    li,a{
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    
    .footer{
        /*Footer informacion*/
        & .informacion{
            grid-template-columns:1fr;
            justify-items: start;
            & .informacion__contacto{
                width: 21rem;
            }
            ul{
                li,a{
                font-size: 0.9rem;  
                }
            }
        }

        & .desarrollador{
            font-size: 0.9rem;
        }
    }


    #mainContacto{
        .contacto{
            & .contacto__formulario{
                form{
                    width: 30rem;
                    flex-wrap: wrap;
                }
            }
        }
    }

    #mainProductos{
        .boxCompra{
            grid-template-columns: 1fr;
            .filtros{
               align-items: center; 
            }

            .productos{
               grid-template-columns: 1fr; 
            }
        }
    }
    
}

@media (max-width:767px) {
    #mainComoComprar{
       .comprarPasos{
            flex-direction: column;
            >div{
               width: 100%;   
            }
        } 
    }
}

@media (min-width:768px) and (max-width:900px){
    /*Barra de navegacion*/
    .header{
        position: static;
        z-index: 0;
        & .barraNavegacion{
            flex-direction: row;
              /*div buscador*/
            .barraNavegacion__buscador{
                margin: 1rem;
                /*Ancho input buscador*/
                form{
                    input{
                        width: 20rem;
                    }
                }
            }

        }
        /*menu hamburgesa*/
        & #hamburgerList{
            display: none;
            
        } 
    
        & .menu{
            display: contents;
            nav{
                ul{
                    flex-direction: row;
                    li,a{
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    #mainProductos{
        .boxCompra{
            grid-template-columns: 1fr;
            .filtros{
               align-items: center; 
            }

            .productos{
               grid-template-columns: 1fr; 
            }
        }
    }   
}

@media(min-width:901px){
    /*Menu de navegacion*/
    .header{
       & .menu{
            display: contents;
        }
    }
}
/*-----------------------------*/