
/*Media Queries-----------------------------------*/
@media(max-width: 480px){
    /*Barra de navegacion*/
    .header{
        position: static;
        z-index: 0;
    }
    
    .header .barraNavegacion{
        flex-direction: column;
    }
    /*menu hamburgesa*/
    #hamburgerList{
        display: contents;
        
    }
    /*Imagen taza*/
    .header .barraNavegacion .barraNavegacion__titulo img{
        display: none;
    }
    /*div buscador*/
    .header .barraNavegacion .barraNavegacion__buscador{
        margin: 1rem;
    }
    /*Ancho input buscador*/
    .header .barraNavegacion .barraNavegacion__buscador form input{
        width: 18rem;
    }
    
    
    .header .menu nav ul{
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        margin-left: 1rem;
        margin-top: 1rem;
    }
    
    .header .menu nav ul li, .header .menu a{
        font-size: 0.9rem;
    }
    
    /*Footer informacion*/
    .footer .informacion{
        grid-template-columns:1fr; 
        justify-items: start;
    }
    
    .footer .informacion .informacion__contacto{
        width: 17.5rem;
    }
    .footer .informacion ul li,a{
        font-size: 0.9rem;
    }
    
    .footer .desarrollador{
        font-size: 0.9rem;
    }
    
    .main .mainCategorias .mainCategorias__imagenes{
        display: flex;
        flex-direction: column;
    }
    
    .newsletter__formulario form input {
        width: 11rem;
        font-size: 0.6rem;
    }
    
    .newsletter__formulario form button {
        width: 6rem;
    }
    
    .contacto .contacto__formulario form{
        width: 18rem;
    }
    
    .main .boxCompra .filtros{
        align-items: center;
    }
    
    .main .boxCompra .productos{
        grid-template-columns: 1fr;
    }
    
    #mainProductos .boxCompra{
        grid-template-columns: 1fr;
    }
    
}

@media(min-width: 481px) and (max-width:767px)  {
    /*Barra de navegacion*/
    .header{
        position: static;
        z-index: 0;
    }
    
    .header .barraNavegacion{
        flex-direction: row;
        align-items: center;
    }
    /*menu hamburgesa*/
    #hamburgerList{
        display: contents;
    }
    /*Imagen taza*/
    .header .barraNavegacion .barraNavegacion__titulo img{
        display: contents;
    }
    /*div buscador*/
    .header .barraNavegacion .barraNavegacion__buscador{
        margin: 1rem;
    }
    /*Ancho input buscador*/
    .header .barraNavegacion .barraNavegacion__buscador form input{
        width: 15rem;
    }
    
    .header .menu nav ul{
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
        margin-left: 1rem;
        margin-top: 1rem;
    }
    
    /*Footer informacion*/
    .footer .informacion{
        grid-template-columns:1fr;
        justify-items: start;
    }
    
    .footer .informacion .informacion__contacto{
        width: 21rem;
    }
    
    .contacto .contacto__formulario form{
        width: 30rem;
    }
    
    .main .boxCompra .filtros{
        align-items: center;
    }
    
    .main .boxCompra .productos{
        grid-template-columns: 1fr;
    }
    
    #mainProductos .boxCompra{
        grid-template-columns: 1fr;
    }
    
}

@media (max-width:767px) {
    .main .comprarPasos{
        flex-direction: column;
    }
    
    .comprarPasos__uno, .comprarPasos__dos, .comprarPasos__tres{
        width: 100%;  
    }
}

@media (min-width: 768px) and (max-width:900px){
    
    /*menu hamburgesa*/
    #hamburgerList{
        display: none;
    }
    /*Ancho input buscador*/
    .header .barraNavegacion .barraNavegacion__buscador form input{
        width: 20rem;
    }   
    
    /*Menu de navegacion*/
    .header .menu{
        display: contents;
    }
    .header .menu nav ul{
        flex-direction: row; 
    }
    
    .main .boxCompra .filtros{
        align-items: center;
    }
    
    .main .boxCompra .productos{
        grid-template-columns: 1fr;
    }
    
    #mainProductos .boxCompra{
        grid-template-columns: 1fr;
    }
    
}

@media(min-width:901px){
    /*Menu de navegacion*/
    .header .menu{
        display: contents;
    }
}
/*-----------------------------*/