* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerBox {
  width: 100%;
  max-width: 2700px;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}

.bordes, #mainProductos .boxCompra .filtros__precios form input, .mainIndex .newsletter .newsletter__formulario form input, .header .barraNavegacion .barraNavegacion__buscador form input {
  border-radius: 10px;
  border-color: #FA48D5;
  box-shadow: 5px 5px #8e9494;
}

/*Barra de navegacion*/
.header {
  grid-area: header;
  background-color: #2EDFE2;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  align-items: flex-start;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  z-index: 3;
  width: 100%;
  height: auto;
  /*Barra superior -- barra de busqueda*/
  /*Menu de navegacion*/
}
.header .barraNavegacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
@keyframes imagen {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
}
.header .barraNavegacion .barraNavegacion__titulo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0rem;
}
.header .barraNavegacion .barraNavegacion__titulo img {
  width: 7rem;
  height: auto;
  animation: imagen 1s linear 0s;
}
@keyframes titulo {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 5px 5px #e9890b, 2px 2px #8e9494;
  }
  100% {
    text-shadow: 5px 5px #FA48D5, 2px 2px #8e9494;
  }
}
.header .barraNavegacion .barraNavegacion__titulo div {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.header .barraNavegacion .barraNavegacion__titulo div h1 {
  font-size: 0.8rem;
  color: #FFFFFF;
}
.header .barraNavegacion .barraNavegacion__titulo div a {
  text-decoration: none;
}
.header .barraNavegacion .barraNavegacion__titulo div a h2 {
  font-family: "Lobster", cursive;
  color: #FFFFFF;
  font-size: 3rem;
  margin-top: 1.1rem;
  animation: titulo 3s linear 0s infinite;
}
.header .barraNavegacion .barraNavegacion__buscador {
  margin-top: 2rem;
}
.header .barraNavegacion .barraNavegacion__buscador form input {
  text-align: start;
  font-size: 0.8rem;
  padding-left: 2.5rem;
  width: 31rem;
  height: 3rem;
}
.header #hamburgerList {
  color: #FFFFFF;
  font-size: 4rem;
  display: none;
}
.header .icono {
  padding-left: 30px !important;
}
.header .icono-input {
  position: absolute;
  padding: 15px;
  pointer-events: none;
  color: #464747;
}
.header .menu nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0rem;
}
.header .menu nav ul li, .header .menu nav ul a {
  list-style: none;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "DynaPuff", cursive;
}
.header .menu nav ul li a:hover, .header .menu nav ul a a:hover {
  color: #FA48D5;
}

/*Termina Barra de navegacion*/
/*Main all pages*/
.main {
  grid-area: main;
}

/*Main index*/
.mainIndex {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
}
.mainIndex #mainCarrusell img {
  width: 100vw;
  height: auto;
}
.mainIndex .mainCategorias {
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
}
.mainIndex .mainCategorias .mainCategorias__titulo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  margin-top: 1rem;
  background-color: #e9890b;
  color: #FFFFFF;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.mainIndex .mainCategorias .mainCategorias__imagenes {
  background-color: #40cfac;
  text-align: center;
  font-size: 1.5rem;
  font-family: "DynaPuff", cursive;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.mainIndex .mainCategorias .mainCategorias__imagenes img {
  width: 60%;
  height: auto;
}
.mainIndex .newsletter {
  background-color: #e9890b;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.mainIndex .newsletter .newsletter__titulo {
  background-color: #e9890b;
  color: #FFFFFF;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.mainIndex .newsletter .newsletter__formulario form {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.mainIndex .newsletter .newsletter__formulario form input {
  width: 25rem;
  height: 2.5rem;
  padding-left: 0.5rem;
}
.mainIndex .newsletter .newsletter__formulario form button {
  width: 6rem;
  height: 2.5rem;
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: #2EDFE2;
  margin-left: 1rem;
}

/*Fin main index*/
/*Main como comprar*/
#mainComoComprar {
  display: grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
}
#mainComoComprar .comprarTitulo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  background-color: #e9890b;
  margin-top: 2rem;
}
#mainComoComprar .comprarTitulo h2, #mainComoComprar .comprarTitulo i {
  color: #FFFFFF;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
}
#mainComoComprar .comprarPasos {
  margin: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#mainComoComprar .comprarPasos p {
  font-size: 1.1rem;
  line-height: 2rem;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}
#mainComoComprar .comprarPasos > div {
  width: 50%;
  height: auto;
}
#mainComoComprar .comprarPasos img {
  width: 8rem;
  height: auto;
}
#mainComoComprar #tablaIntereses {
  border-color: #eb02bc;
}
#mainComoComprar #tablaIntereses thead tr:first-child {
  background-color: #eb02bc;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

/*Fin main como comprar-------------------*/
/*Main contacto*/
#mainContacto {
  background: transparent;
  background-image: url("../img/contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#mainContacto .contacto {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  justify-items: center;
  gap: 1rem;
}
#mainContacto .contacto .contacto__titulo {
  background-color: transparent;
  display: flex;
  margin-top: 2rem;
}
#mainContacto .contacto .contacto__titulo h2 {
  color: #000000;
  font-size: 3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}
#mainContacto .contacto .contacto__formulario form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
  width: 50rem;
}
#mainContacto .contacto .contacto__formulario form input, #mainContacto .contacto .contacto__formulario form textarea, #mainContacto .contacto .contacto__formulario form button {
  padding-left: 0.5rem;
  border-radius: 0.5rem;
  border: 3px solid #eb02bc;
  height: 2.5rem;
  background-color: transparent;
  color: #FFFFFF;
}
#mainContacto .contacto .contacto__formulario form textarea {
  height: 8rem;
}
#mainContacto .contacto .contacto__formulario form button {
  width: 6rem;
  margin-left: auto;
  background-color: #eb02bc;
  color: #FFFFFF;
}
#mainContacto .contacto .contacto__formulario form button:hover {
  background-color: transparent;
  color: #FFFFFF;
}
#mainContacto #accordionExample .accordion-item .accordion-button {
  background-color: #FA48D5;
  font-weight: bold;
}

/*Fin main contacto---------------------------*/
/*Main legales ------------------------------------*/
#mainLegales {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0rem;
}
#mainLegales .legalesTitulo h2 {
  color: #eb02bc;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
#mainLegales .legalesCondiciones {
  padding: 0 2rem 0 2rem;
  border: 2rem solid #e9890b;
  box-sizing: border-box;
}
#mainLegales .legalesCondiciones h3 {
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}
#mainLegales .legalesCondiciones p {
  text-align: justify;
  line-height: 3rem;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#mainLegales #iconoDescarga {
  color: #FFFFFF;
}

/*Fin main legales---------------------------------*/
/*Main productos*/
#mainProductos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 4rem;
  margin: 2rem 0 0 2rem;
  background-color: rgba(224, 223, 223, 0.5);
}
#mainProductos .boxCompra {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
}
#mainProductos .boxCompra .filtros {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding-left: 1rem;
  background-color: #8e9494;
  color: #FFFFFF;
  border-radius: 20px;
  min-width: 15rem;
}
#mainProductos .boxCompra .filtros .filtros__categorias nav ul li > a {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  gap: 0rem;
  font-size: 0.9rem;
  color: #FFFFFF;
}
#mainProductos .boxCompra .filtros__precios form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}
#mainProductos .boxCompra .filtros__precios form input {
  min-width: 10rem;
}
#mainProductos .boxCompra .filtros__precios form input:last-child {
  background-color: cyan;
  margin-bottom: 1rem;
}
#mainProductos .boxCompra .productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto);
  justify-content: center;
  gap: 2rem;
}
#mainProductos .boxCompra .productos #productoItem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
#mainProductos .boxCompra .productos #productoItem img {
  width: 70%;
  height: auto;
  border-radius: 15px;
}
#mainProductos .boxCompra .productos #productoItem h4 {
  font-size: 1.5rem;
  font-family: fantasy;
}
#mainProductos .boxCompra .productos #productoItem p {
  font-size: 0.8rem;
  font-family: fantasy;
}
#mainProductos .boxCompra .productos #productoItem button {
  width: 6rem;
  font-size: 0.9rem;
  text-align: center;
  color: #000000;
  background-color: #40cfac;
}
#mainProductos .paginacion {
  display: flex;
  justify-content: end;
  margin-right: 1rem;
}

/*Fin main productos------------------------------*/
/*Footer------------------*/
.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  margin-top: 2rem;
}
.footer .informacion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  justify-items: center;
  align-items: flex-start;
}
.footer .informacion .tituloInformacion {
  padding-left: 2rem;
  font-size: 2rem;
  color: #535353;
  font-family: "Mochiy Pop One", sans-serif;
  font-family: "Murecho", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Rubik Maze", cursive;
  font-family: "Secular One", sans-serif;
}
.footer .informacion .informacion__redes {
  opacity: 1;
  /*Map*/
}
.footer .informacion .informacion__redes i {
  font-size: 2rem;
  padding-left: 3rem;
}
.footer .informacion .informacion__redes #facebook {
  color: blue;
}
.footer .informacion .informacion__redes #facebook:hover {
  color: #464747;
  font-size: 2rem;
}
.footer .informacion .informacion__redes #instagram {
  color: #eb02bc;
}
.footer .informacion .informacion__redes #instagram:hover {
  color: #464747;
  font-size: 2rem;
}
.footer .informacion .informacion__redes #tiktok {
  color: #000000;
}
.footer .informacion .informacion__redes #tiktok:hover {
  color: #464747;
  font-size: 2rem;
}
.footer .informacion ul li, .footer .informacion a {
  list-style: none;
  text-decoration: none;
  font-size: 1.1rem;
  padding-top: 1.5rem;
  color: #464747;
}
.footer .informacion a:hover {
  color: #2EDFE2;
  font-weight: bold;
}
.footer .desarrollador {
  background-color: #535353;
  font-size: 1.1rem;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
}
.footer .desarrollador .desarrolladorInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-content: center;
  margin-top: 1rem;
}
.footer .desarrollador .desarrolladorInfo img {
  width: 4rem;
  height: auto;
}

/*Termina footer*/
/*Media Queries-----------------------------------*/
@media (max-width: 480px) {
  /*Barra de navegacion*/
  .header {
    position: static;
    z-index: 0;
    /*menu hamburgesa*/
  }
  .header .barraNavegacion {
    flex-direction: column;
    /*Imagen taza*/
    /*div buscador*/
  }
  .header .barraNavegacion .barraNavegacion__titulo img {
    display: none;
  }
  .header .barraNavegacion .barraNavegacion__buscador {
    margin: 1rem;
    /*Ancho input buscador*/
  }
  .header .barraNavegacion .barraNavegacion__buscador form input {
    width: 18rem;
  }
  .header #hamburgerList {
    display: contents;
  }
  .header .menu nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin: 1rem 0 0 1rem;
  }
  .header .menu nav ul li, .header .menu nav ul a {
    font-size: 0.9rem;
  }
  .footer {
    /*Footer informacion*/
  }
  .footer .informacion {
    grid-template-columns: 1fr;
    justify-items: start;
  }
  .footer .informacion .informacion__contacto {
    width: 17.5rem;
  }
  .footer .informacion ul li, .footer .informacion ul a {
    font-size: 0.7rem;
  }
  .footer .informacion .informacion__redes ul {
    display: flex;
  }
  .footer .desarrollador {
    font-size: 0.9rem;
  }
  .mainIndex .mainCategorias .mainCategorias__imagenes {
    flex-direction: column;
  }
  .mainIndex .newsletter .newsletter__formulario form input {
    width: 11rem;
    font-size: 0.6rem;
  }
  .mainIndex .newsletter .newsletter__formulario form button {
    width: 6rem;
  }
  #mainContacto .contacto .contacto__formulario form {
    width: 18rem;
    flex-wrap: wrap;
  }
  #mainProductos .boxCompra {
    grid-template-columns: 1fr;
  }
  #mainProductos .boxCompra .filtros {
    align-items: center;
  }
  #mainProductos .boxCompra .productos {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /*Barra de navegacion*/
  .header {
    position: static;
    z-index: 0;
    /*menu hamburgesa*/
  }
  .header .barraNavegacion {
    flex-direction: row;
    align-items: center;
    /*Imagen taza*/
    /*div buscador*/
  }
  .header .barraNavegacion .barraNavegacion__titulo img {
    display: contents;
  }
  .header .barraNavegacion .barraNavegacion__buscador {
    margin: 1rem;
    /*Ancho input buscador*/
  }
  .header .barraNavegacion .barraNavegacion__buscador form input {
    width: 15rem;
  }
  .header #hamburgerList {
    display: contents;
  }
  .header .menu nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin: 1rem 0 0 1rem;
  }
  .header .menu nav ul li, .header .menu nav ul a {
    font-size: 0.9rem;
  }
  .footer {
    /*Footer informacion*/
  }
  .footer .informacion {
    grid-template-columns: 1fr;
    justify-items: start;
  }
  .footer .informacion .informacion__contacto {
    width: 21rem;
  }
  .footer .informacion ul li, .footer .informacion ul a {
    font-size: 0.7rem;
  }
  .footer .desarrollador {
    font-size: 0.9rem;
  }
  #mainContacto .contacto .contacto__formulario form {
    width: 30rem;
    flex-wrap: wrap;
  }
  #mainProductos .boxCompra {
    grid-template-columns: 1fr;
  }
  #mainProductos .boxCompra .filtros {
    align-items: center;
  }
  #mainProductos .boxCompra .productos {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  #mainComoComprar .comprarPasos {
    flex-direction: column;
  }
  #mainComoComprar .comprarPasos > div {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  /*Barra de navegacion*/
  .header {
    position: static;
    z-index: 0;
    /*menu hamburgesa*/
  }
  .header .barraNavegacion {
    flex-direction: row;
    /*div buscador*/
  }
  .header .barraNavegacion .barraNavegacion__buscador {
    margin: 1rem;
    /*Ancho input buscador*/
  }
  .header .barraNavegacion .barraNavegacion__buscador form input {
    width: 20rem;
  }
  .header #hamburgerList {
    display: none;
  }
  .header .menu {
    display: contents;
  }
  .header .menu nav ul {
    flex-direction: row;
  }
  .header .menu nav ul li, .header .menu nav ul a {
    font-size: 0.7rem;
  }
  #mainProductos .boxCompra {
    grid-template-columns: 1fr;
  }
  #mainProductos .boxCompra .filtros {
    align-items: center;
  }
  #mainProductos .boxCompra .productos {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 901px) {
  /*Menu de navegacion*/
  .header .menu {
    display: contents;
  }
}
/*-----------------------------*/

/*# sourceMappingURL=main.css.map */
